.area_flashcard {
	.front-lang-es {
		border-bottom: 2px solid rgb(184, 0, 0);
	}
	.front-lang-it {
		border-bottom: 2px solid rgb(72, 207, 72);
	}
	.back {
		background-color: #fff;
	}

	.back-lang-es {
		color: red;
	}
	
	.back-lang-it {
		color: green;
	}
}
